import React from 'react'

type {{ pascalCase name }}Props = React.HTMLAttributes<HTMLDivElement>

const {{ pascalCase name }}: React.FC<{{ pascalCase name }}Props> = () => {
	return (
		<div>
			<h1>{{ pascalCase name }} component</h1>
		</div>
	)
}

export default {{ pascalCase name }}
